<div class="container_login">
    <div class="login">
        <h1>Inventory Management Access</h1>
        <form novalidate [formGroup]="form" class="needs-validation" (ngSubmit)="validateUser()">
            <div class="mb-3 row">
                <div class="col col-md-12">
                    <input class="form-control" type="text" placeholder="Username" formControlName="username"
                        [ngClass]="{'is-invalid': (form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)) || (submit && form.get('username')?.invalid)}" />
                    <div *ngIf="(form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)) || (submit && form.get('username')?.invalid)"
                        class="invalid-feedback">
                        <div *ngIf="form.get('username')?.errors?.['required']">Field cannot be empty.</div>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col col-md-12">
                    <div class="input-group">
                        <input class="form-control" [type]="showPass ? 'text' : 'password'" placeholder="Password" formControlName="password"
                            [ngClass]="{'is-invalid': (form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)) || (submit && form.get('password')?.invalid)}" />
                        <button type="button" class="btn btn-secondary" (click)="toggleShowPass()">
                            <i *ngIf="showPass" class="fa fa-eye"></i>
                            <i *ngIf="!showPass" class="fa fa-eye-slash"></i>
                        </button>
                        <div *ngIf="(form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)) || (submit && form.get('password')?.invalid)"
                            class="invalid-feedback">
                            <div *ngIf="form.get('password')?.errors?.['required']">Field cannot be empty.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block btn-large fw-bold">Let me in</button>
            </div>
        </form>
    </div>
</div>