<div class="mx-3" *ngIf="employee">
    <div class="mt-2">
      <h3>My profile</h3>
    </div>
    <div class="border border-dark rounded-3 border-2">
        <div>
            <form novalidate [formGroup]="form" class="needs-validation">
                <div class="row mb-3 mx-2 mt-3">
                    <div class="col-md-6">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" formControlName="username" class="form-control" [ngClass]="{'is-invalid': (form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)) || (submit && form.get('username')?.invalid)}">
                        <div *ngIf="(form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)) || (submit && form.get('username')?.invalid)"
                            class="invalid-feedback">
                            <div *ngIf="form.get('username')?.errors?.['required']">Field cannot be empty.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="nif" class="form-label">NIF</label>
                        <input type="text" id="nif" formControlName="nif" class="form-control" [ngClass]="{'is-invalid': (form.get('nif')?.invalid && (form.get('nif')?.dirty || form.get('nif')?.touched)) || (submit && form.get('nif')?.invalid)}">
                        <div *ngIf="(form.get('nif')?.invalid && (form.get('nif')?.dirty || form.get('nif')?.touched)) || (submit && form.get('nif')?.invalid)"
                            class="invalid-feedback">
                            <div *ngIf="form.get('nif')?.errors?.['required']">Field cannot be empty.</div>
                            <div *ngIf="form.get('nif')?.value?.length > 9">Maximum of 9 digits.</div>
                        </div>
                    </div>
                </div>
        
                <div class="row mb-3 mx-2 mt-3">
                    <div class="col-md-6">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" id="name" formControlName="name" class="form-control" [ngClass]="{'is-invalid': (form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)) || (submit && form.get('name')?.invalid)}">
                        <div *ngIf="(form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)) || (submit && form.get('name')?.invalid)"
                            class="invalid-feedback">
                            <div *ngIf="form.get('name')?.errors?.['required']">Field cannot be empty.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="surname" class="form-label">Surname</label>
                        <input type="text" id="surname" formControlName="surname" class="form-control" [ngClass]="{'is-invalid': (form.get('surname')?.invalid && (form.get('surname')?.dirty || form.get('surname')?.touched)) || (submit && form.get('surname')?.invalid)}">
                        <div *ngIf="(form.get('surname')?.invalid && (form.get('surname')?.dirty || form.get('surname')?.touched)) || (submit && form.get('surname')?.invalid)"
                            class="invalid-feedback">
                            <div *ngIf="form.get('surname')?.errors?.['required']">Field cannot be empty.</div>
                        </div>
                    </div>
                </div>
        
                <div class="row mb-3 mx-2 mt-3">
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" id="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': (form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)) || (submit && form.get('email')?.invalid)}">
                        <div *ngIf="(form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)) || (submit && form.get('email')?.invalid)"
                            class="invalid-feedback">
                            <div *ngIf="form.get('email')?.errors?.['required']">Field cannot be empty.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="password" class="form-label">Password</label>
                        <div class="input-group">
                            <input [type]="showPass ? 'text' : 'password'" minlength="8" autocomplete="current-password" id="password" formControlName="password" class="form-control"
                            [ngClass]="{'is-invalid': (form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)) || (submit && form.get('password')?.invalid)}">
                            <button class="btn btn-secondary" (click)="toggleShowPass()">
                                <i *ngIf="showPass" class="fa fa-eye"></i>
                                <i *ngIf="!showPass" class="fa fa-eye-slash"></i>
                            </button>
                            <div *ngIf="(form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)) || (submit && form.get('password')?.invalid)"
                            class="invalid-feedback">
                                <div *ngIf="form.get('password')?.errors?.['pattern']">Invalid format.</div>
                                <div *ngIf="form.get('password')?.errors?.['required']">Field cannot be empty.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="text-end mb-3 mx-3">
            <button class="btn btn-primary mt-3" (click)="updateEmployee()">Actualizar perfil</button>        
        </div>
    </div>
</div>