<div class="mx-3 bg-light" *ngIf="articles.length > 0">
  <div>
    <h3>Inventory Management</h3>
  </div>
  
    <div class="articles mt-10">
      <button class="btn btn-success mb-3" (click)="addArticle()">Create article</button>
      <div class="border border-dark rounded-3 border-2">
        <app-table [headers]="headers" [data]="articles || []">
          <ng-template let-item>
            <button class="btn btn-primary me-2" (click)="modifyArticle(item)"><i class="fa fa-pencil-square-o"></i></button>
            <button class="btn btn-danger" (click)="deleteArticle(item)"><i class="fa fa-trash"></i></button>
          </ng-template>
        </app-table>
      </div>
    </div>
  </div>