<div class="mx-3">
  <div class="mt-2">
    <h3>Inventory Management</h3>
  </div>
  
  <button *appShowForRoles="[]" class="btn btn-success mb-3" (click)="addArticle()">Create article</button>
    <div class="articles mt-10" *ngIf="articles.length > 0; else elseBlock">
      <div class="border border-dark rounded-3 border-2">
        <app-table [headers]="headers" [data]="articles || []" [pagination]="pagination" [pageSize]="pagination.size" (paginationChange)="pageChange($event)">
          <ng-template let-item>
            <button class="btn btn-primary me-2" (click)="modifyArticle(item)"><i class="fa fa-pencil-square-o"></i></button>
            <button *appShowForRoles="[]" class="btn btn-danger" (click)="deleteArticle(item)"><i class="fa fa-trash"></i></button>
            <span *ngIf="item?.quantity === 0" class="text-danger text-center fw-600 fw-bold border border-danger rounded-4 mx-2">Out of stock</span>
          </ng-template>
        </app-table>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="alert alert-secondary" role="alert">
          There are no articles.
      </div>
  </ng-template>
</div>